# dependencies
node_modules

# build output
dist
dist-ssr
*.tsbuildinfo

# env
.env
.env.local

# logs
npm-debug.log*
*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea

# os
.DS_Store

.vercel
